body {
    background-color: #f8f0de;
    color: #574e50;
}
.logo {
    position: relative;
    bottom: 50px;
    font-size: 80px;
    font-family: serif;
    text-align: center;
    
}
.hero-copy {
    font-size: 30px;
    font-family: serif;
    text-align: center;
    position: relative;
    bottom: 160px;
    letter-spacing: 3px;
}
.hero-nav {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 200px;
    font-size: 20px;
    line-height: 50px;  
    font-family: serif;
    align-items: center;
    text-align: right;
    right: -450px;
}
.hero-nav a {
    color: #574e50;
    text-decoration: none;
}
.hero-nav a:visited {
    color: #574e50;
}
.hero-head {
    position: relative;
    top: 100px;
}
.hero-images {
    display: flex;
    justify-content: space-evenly;
}
.hero-images img {
    height: 370px;
    width: auto;
    position: relative;
    margin: 30px;
    position: relative;
    bottom: 70px;
}
