body {
    background-color: #f9f7f0;
}
.container {
    display: flex;
    justify-content: center;
}
.container img {
    width: 1000px;
    height: auto;
}
.header {
    width: 100%;
}

.nav-pc {
    max-width: 900px;
    margin: 0 auto;
}
.nav-pc-item a {
    text-decoration: none;
    color: #d4b9a2;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    margin: 20px;
}
.nav-pc-item ul{ 
    display: flex;
    justify-content: flex-end;
    list-style: none;
}
h1 {
    color: #d4b9a2;
    position: relative;
    left: 200px;
    margin: 100px;
}
#about-flex {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: flex-start;
}
#about-img {
    position: relative;
    top: 30px;
    right: 80px;
}
.about-text {
    letter-spacing: 2.0px; 
    line-height: 1.8;
    color: #646363;
    padding: 30px;
    background-color: #d4b9a2d4;
    
    
}
.works-item img {
    height: 200px;
    width: auto;
}
.works-item {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
.works-info {
    color: #9f705a;
    text-align: center;
    font-size: 20px;
}
.skill-item img {
    width: 100px;
    height: auto;
}
li {
    color: #646363;
}
.list-up {
    display: flex;
     justify-content: center;
    justify-content: space-evenly;
}
.list-down {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
.list {
    text-align: center;

}
h3 {
    color: #9f705a;
}
li {
    list-style: none;
}
#contact p {
    text-align: center;
    color: #646363;
}
.maile img {
    width: 100px;
    height: auto;
}
.footer {
    text-align: center;
    color: #f9f7f0;
    background-color: #d4b9a2d4;
    padding: 40px;
}